.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: row;

}

.sideNav {
  position: fixed;
  padding : 90px 30px 15px;
  width: 15%;
  min-height: 100vh;
  margin-right: 0px;
  
}

.nav-link {
  margin: 30px;
  text-decoration: none;
  text-align: left;
  padding-left: 20px;
  position: relative;
  font-size: large;
  color: gray;
  display: block;
  padding: 10px;
}

.nav-link:hover{
  color: #FF5C5C;
  font-weight: 500;
  font-size: larger;
}


label {
  padding-right: 10px;
}

.content {
  left: 15%;
  text-align: left;
  width: 85%;
  max-width: 85%;
  position: relative;
  
}

.heading {
  text-align: center;
}

.list {
  list-style: none;
  padding-left: 0;
  
  
}
ul{
  list-style: none;
}

.list-item {
  border: solid 0.1px lightgrey;
  border-radius: 5px;
  padding: 0px 20px;
  margin: 1px;
  width: 93%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.list-item:hover{
  box-shadow: 0px 5px 30px rgba(0,0,0,0.3);
  cursor: pointer;
}

.list-heading {
  display: flex;
  justify-content: space-between;
  height: 35px;
  
}



.btn:hover {
  cursor: pointer;

}

.btn-container {
  
  padding-bottom: 10px;

}


.btn {
  background-color: white;
  border: none;
  margin: 0px 20px 15px 20px;
  padding: 8px;
  font-size: 14px;
  
}

.star {
  text-align: center;
  width: 60px;
  height: 30px;
  margin : 10px 20px 15px 20px;
}

.btn-detail {
  border: none;
  padding: 0px;
  margin: 0px;
  height: 0px;
  font-size: 14px;
}

.trash {
  color: red;
}
.read-unread{
  color: orange;
}
.spam  {
  color: green;
}
.not-spam {
  color: orange;
}

.restore {
  color: red;
}

.footer {
  display: flex;
  justify-content: space-between;
  
}

.footer a {
  text-decoration: none;
  
}


@media (max-width: 500px) {
  .footer {
      display:block
  }

  .btn-container {
      display: flex;
      justify-content: space-evenly;
      margin-top: 18px;
      padding: 0 10px
  }

  label {
      display: block
  }

  .list-item {
    margin: 10px 10px 10px 30px
}

.list-heading{
  margin-bottom: 10px;
  height: 70px;
}
  fieldset {
    margin-left: 30px;
  }

  .content h3 {
    margin-left: 30px;
}
  .sideNav {
      background-color: #f6f8fc;
      bottom: 0;
      display: flex;
      justify-content: space-evenly;
      min-height: 0;
      padding: 10px 5px 15px;
      position: fixed;
      width: 100%;
      z-index: 1;
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      border: solid 0.1px lightgrey;
      
  }

 
  
  .list {
    margin-bottom: 80px;
  }
  .nav-link{
    color: black;
  }
  .content {
      left: 0;
      padding-bottom: 70px;
      position: relative;
      width: 100%
  }

  li {
      margin: 0 10px 0 -25px
  }
}



